@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Sanchez);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: white;
}

body {
  background-color: #5C6161;
}

#main {
  height: 100vh;
  font-size: 1.1rem;

  width: 95%;
  margin: auto;
}

.invisible {
  visibility: hidden !important;
}

.opaque {
  opacity: 1 !important;
}

.transparent {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

footer {
  width: 90%;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  margin: 8px;
  border-top: solid 1px whitesmoke;
  font-size: 1.1rem;
}

footer a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.35s linear;
  font-size: 1.25rem;
}

footer a:hover {
  color: black;
  background-color: cornflowerblue;
}